.app {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.app-background {
	background: #8B5C2A;
	// min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    height: 1000px;
}

.center-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.center-container {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	justify-content: center;
	align-items: center;
}

.square-1, .square-2 {
	background: #fff;
	color: #333;
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 2rem;
	box-shadow: 0 4px 24px rgba(0,0,0,0.15);
	text-align: center;
}

.response-box {
  background: #154db4;
  color: #333;
  min-width: 500px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.10);
  text-align: center;
  margin-top: 2rem;
}

.popup-box {
  background: #b41111;
  color: #85de09;
  min-width: 100px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.10);
  text-align: center;
  margin-top: 2rem;
}